# Written by hand; this package does not use roxygen.
export(atlas_access_config)
export(atlas_access_decision)
export(atlas_access_state)
export(atlas_accessible_area)
export(atlas_add_predictors)
export(atlas_algorithm)
export(atlas_algorithm_labels)
export(atlas_allowed_origin)
export(atlas_allowed_origins)
export(atlas_assert_transport_safe)
export(atlas_auc)
export(atlas_background_sample)
export(atlas_batch_candidates)
export(atlas_boyce)
export(atlas_build_layer)
export(atlas_build_layers)
export(atlas_build_training)
export(atlas_cache_control)
export(atlas_check_key)
export(atlas_check_occurrences)
export(atlas_choose_predictors)
export(atlas_client_ip)
export(atlas_crop_to_region)
export(atlas_cross_validate)
export(atlas_current_release)
export(atlas_data_dir)
export(atlas_decode_name)
export(atlas_drop_constant)
export(atlas_feature_classes)
export(atlas_exposed_headers)
export(atlas_fingerprint)
export(atlas_fingerprints_for)
export(atlas_fit_batch)
export(atlas_fit_is_current)
export(atlas_fit_maxnet)
export(atlas_fit_rf)
export(atlas_fit_settings)
export(atlas_fit_taxon)
export(atlas_fit_xgboost)
export(atlas_grid_covers)
export(atlas_grid_size)
export(atlas_grid_template)
export(atlas_introspect_http)
export(atlas_latest_study)
export(atlas_layer_manifest)
export(atlas_layer_overview)
export(atlas_layer_path)
export(atlas_layer_registry)
export(atlas_layer_status)
export(atlas_layers_key)
export(atlas_list_releases)
export(atlas_local_store)
export(atlas_locality_key)
export(atlas_main)
export(atlas_map_bounds)
export(atlas_model_benchmark)
export(atlas_model_dir)
export(atlas_model_index)
export(atlas_model_path)
export(atlas_occurrence_points)
export(atlas_occurrence_sql)
export(atlas_one_line)
export(atlas_openapi_path)
export(atlas_parse_algorithms)
export(atlas_parse_flags)
export(atlas_parse_tsv)
export(atlas_path)
export(atlas_plumber_routes)
export(atlas_points_in_area)
export(atlas_predict_raster)
export(atlas_predictor_columns)
export(atlas_predictor_stack)
export(atlas_predictor_sweep)
export(atlas_project_points)
export(atlas_project_to_grid)
export(atlas_promote_release)
export(atlas_prune_correlated)
export(atlas_public_cells)
export(atlas_public_cells_table)
export(atlas_publish_release)
export(atlas_pull_occurrences)
export(atlas_pull_release)
export(atlas_rank_scale)
export(atlas_rate_sweep)
export(atlas_rate_take)
export(atlas_read_manifest)
export(atlas_read_metrics)
export(atlas_read_occurrences)
export(atlas_read_public_cells)
export(atlas_rebuild_maps)
export(atlas_record_layer)
export(atlas_redraw_map)
export(atlas_region_window)
export(atlas_release_files)
export(atlas_request_algorithm)
export(atlas_resolution)
export(atlas_rf_suitability)
export(atlas_run_sql)
export(atlas_s3_store)
export(atlas_seed_from_fingerprint)
export(atlas_serve)
export(atlas_settings_key)
export(atlas_source_resolution)
export(atlas_sources_path)
export(atlas_spatial_folds)
export(atlas_sql_host)
export(atlas_status)
export(atlas_status_manifest)
export(atlas_store)
export(atlas_suitability)
export(atlas_suitability_colours)
export(atlas_taxon_cells)
export(atlas_taxon_fingerprints)
export(atlas_taxon_row)
export(atlas_thin_to_cells)
export(atlas_training_path)
export(atlas_training_table)
export(atlas_write_map_png)
export(atlas_xgboost_suitability)
