{
  "openapi": "3.1.0",
  "info": {
    "title": "MycoMap Atlas API",
    "version": "0.1.0-dev",
    "summary": "Habitat models for North American fungi, built only from DNA-validated MycoMap records.",
    "description": "Every route is a read. Nothing here returns an exact collection coordinate: collection points are aggregated to 0.1 degree cells, and published rasters are 1 km or coarser.\n\nThis file is the contract. The web app's developer page is drawn from it, and a test in tests/testthat/test-openapi.R fails when a route in inst/plumber/atlas.R and this file disagree, so the documentation cannot drift from the code.\n\nReads are open: no account and no token are needed for anything the site's own pages use — taxa, scores, map images, collection cells. Two things need you to be known: downloading a model's GeoTIFF raster, and a higher rate limit. Either sign in on the site with your mycomap.org account, or send a token as \"Authorization: Bearer <token>\". Tokens are issued through a mycomap.org account at https://mycomap.org/atlas-tokens. A token mycomap.org does not recognise, or has revoked, is refused with 401 rather than served at the anonymous rate.\n\nEvery caller is rate limited: anonymous callers per address, signed-in people per person, tokens per token. Over the limit the answer is 429 with Retry-After in seconds. x-rate-limits at the end of this file gives the limits.\n\nA grid other than draft or production, or a parameter such as limit, offset, lat or width that is not a number, is refused with 400 and a JSON error saying which. Errors are always JSON, image routes included.",
    "license": {
      "name": "Code GPL-3.0-or-later. Maps, rasters and model outputs CC BY-SA 4.0: they derive from WorldClim 2.1 (CC BY-SA 4.0); every map and raster response carries Link: <https://creativecommons.org/licenses/by-sa/4.0/>; rel=\"license\". Each source layer's terms are at /api/sources.",
      "identifier": "GPL-3.0-or-later"
    },
    "contact": {
      "name": "MycoMap Atlas on GitHub",
      "url": "https://github.com/BiodiverseLabs/mycomap-atlas"
    }
  },
  "servers": [
    {
      "url": "https://atlas.mycomap.org",
      "description": "Public site"
    },
    {
      "url": "http://127.0.0.1:5100",
      "description": "Your own copy, started with ./atlas api"
    }
  ],
  "tags": [
    {
      "name": "Status",
      "description": "What the data behind the API is, and when it was pulled."
    },
    {
      "name": "Taxa",
      "description": "Every taxon in the validated universe, with its record and locality counts."
    },
    {
      "name": "Models",
      "description": "Fitted habitat models: scores, settings and maps."
    },
    {
      "name": "Data",
      "description": "Environmental layers and benchmarks."
    },
    {
      "name": "Access",
      "description": "Who you are to the API, and the downloads that need an account or a token."
    }
  ],
  "paths": {
    "/api/openapi.json": {
      "get": {
        "tags": [
          "Status"
        ],
        "operationId": "getOpenApi",
        "summary": "This description of the API",
        "description": "The OpenAPI 3.1 document you are reading. Point a client generator at it.",
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/sources": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "getSources",
        "summary": "Datasets, software, papers and data products",
        "description": "Every dataset and package Atlas is built on, with links, licences and citations; the papers behind each method; and every file the pipeline produces, with whether and where it is published.",
        "responses": {
          "200": {
            "description": "The sources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sources"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/downloads": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "getDownloads",
        "summary": "Versioned downloads on Zenodo",
        "description": "Every archived version of each series, with its DOI. Each series is one Zenodo record: models-<grid> gets a new version when a release is archived, layers-<grid> only when a layer is rebuilt. A version DOI always points at exactly those files; the concept DOI points at the newest version. Cite the version you used.",
        "responses": {
          "200": {
            "description": "The archive series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Downloads"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "operationId": "getStatus",
        "summary": "What the current pull holds",
        "description": "The size and fingerprint of the record set every model on this server was fitted from. The fingerprint changes whenever any record changes, so it is the thing to cite alongside a map.",
        "responses": {
          "200": {
            "description": "The current pull, or ready: false when none has been made.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "Access"
        ],
        "operationId": "getMe",
        "summary": "Whether you are signed in, and how",
        "description": "For a page's header, or to check a token works. Never returns your mycomap.org account id. Not cached by any shared cache.",
        "responses": {
          "200": {
            "description": "Who the API takes you for.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/layers": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "getLayers",
        "summary": "Environmental layers",
        "description": "Every registered environmental layer with its source, licence and citation, and whether it is built on the requested grid.",
        "parameters": [
          {
            "$ref": "#/components/parameters/grid"
          }
        ],
        "responses": {
          "200": {
            "description": "The layers on that grid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "tags": [
          "Taxa"
        ],
        "operationId": "search",
        "summary": "Find a taxon by what was typed",
        "description": "For a search box. Forgives case, the quotes and sp. of provisional codes (Mycena sp. 'IN10', Mycena \"sp-IN10\" and mycena in10 all match), word order, half-typed words and small typos. Letters and digits are never changed, so IN1 and IN01 stay different. Results come best match first: exact, then prefix, then every word, then anywhere, then near misses; within those, a match on the genus before one on the epithet, the closest name, and taxa with maps first. A one-word query also returns matching genera.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "What was typed.",
            "schema": {
              "type": "string",
              "default": ""
            },
            "example": "tramates versicolor"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Most species to return, up to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Species and genera, best first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/here": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "whatCouldGrowHere",
        "summary": "What could grow here",
        "description": "Every mapped taxon whose maps rate a place highly, best first. The answer comes from an index of every map by 20 km cell: for each model, the cells where it ranks the ground in the top half of its own accessible area, as a percentile (the same rank the maps are coloured by). A taxon's score is the mean of its models' ranks there, a model that does not rate the place in its top half counting as zero. Taxa collected within nearby_km are marked with how many records, counted from 0.1 degree cells; taxa collected nearby that have no map yet are listed apart. Habitat suitability, not occurrence.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude, WGS84.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "example": 40.9
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude, WGS84.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "example": -86.9
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Most taxa to return, up to 1,000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "description": "Leave out taxa scoring below this, from 0 to 1. 0.9 keeps taxa whose models put this place in their top tenth.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1,
              "default": 0
            }
          },
          {
            "name": "nearby_km",
            "in": "query",
            "description": "How far to look for collections, up to 100 km.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The taxa this place suits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HereAnswer"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "400": {
            "description": "lat and lng are not a point on Earth.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "description": "The place index has not been built on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/taxa": {
      "get": {
        "tags": [
          "Taxa"
        ],
        "operationId": "listTaxa",
        "summary": "Search and list taxa",
        "description": "Taxa in the validated universe, whether or not they have a map yet. A name match is a case-insensitive substring match.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Part of a scientific name.",
            "schema": {
              "type": "string",
              "default": ""
            },
            "example": "Mycena"
          },
          {
            "name": "min_localities",
            "in": "query",
            "description": "Only taxa with at least this many independent (about 1 km) localities.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "example": 20
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, at most 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 100,
              "maximum": 1000
            },
            "example": 10
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Rows to skip, for paging.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of taxa and the total that matched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxaPage"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}": {
      "get": {
        "tags": [
          "Taxa"
        ],
        "operationId": "getTaxon",
        "summary": "One taxon's counts",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "The taxon.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Taxon"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}/cells": {
      "get": {
        "tags": [
          "Taxa"
        ],
        "operationId": "getTaxonCells",
        "summary": "Where a taxon has been collected",
        "description": "Validated collections grouped into 0.1 degree cells, each with the number of records in it. The centre of the cell is given, never a collection point. An unknown name returns an empty list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "The occupied cells.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cells"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}/image.png": {
      "get": {
        "tags": [
          "Taxa"
        ],
        "operationId": "getTaxonImage",
        "summary": "A taxon's map as one picture",
        "description": "The map drawn over land, lakes and state and country lines (Natural Earth), with the collections in 0.1 degree cells, the name, a legend and the source, as a PNG for a spreadsheet, document or slide. In Excel: =IMAGE(\"https://atlas.mycomap.org/api/taxa/Trametes%20versicolor/image.png\"). A map that did no better than its null models is drawn faint and says so; a taxon with no map shows its collections alone.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "name": "algorithm",
            "in": "query",
            "required": false,
            "description": "maxnet, xgboost, rf or esm. Left out, the small-model ensemble for a sparse taxon, else the first full model fitted.",
            "schema": {
              "type": "string",
              "enum": [
                "maxnet",
                "xgboost",
                "rf",
                "esm"
              ]
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Width in pixels, rounded to 600, 900, 1200 or 1600; the height is three quarters of it.",
            "schema": {
              "type": "integer",
              "default": 1200
            }
          },
          {
            "name": "points",
            "in": "query",
            "required": false,
            "description": "0 to leave out the collections.",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The picture.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "400": {
            "description": "An algorithm Atlas does not fit."
          },
          "404": {
            "description": "No such taxon in the current pull."
          }
        }
      }
    },
    "/api/regions": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "getRegions",
        "summary": "States, provinces and territories, with their taxa",
        "description": "Every US state and territory, Canadian province or territory and Mexican state that holds validated records: how many taxa have records there, how many records, and how many more taxa its maps call likely, or possible, without a record yet. Records whose state field names no known region keep their own text, with an empty code.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Every region, sorted by country then name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Regions"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "description": "This server holds no region table yet: neither a pull nor a release that carries one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/taxa/{name}/regions": {
      "get": {
        "tags": [
          "Taxa"
        ],
        "operationId": "getTaxonRegions",
        "summary": "Where a taxon has been recorded, and where its maps say it is likely or possible",
        "description": "Each state, province or territory where the taxon has validated records, or where its maps say it is likely or possible. A map counts a 5 km cell as suitable when it rates it at least as highly as the poorer tenth of the places the taxon was found (the 10th-percentile training presence threshold). Over the taxon's maps that beat their null models, a state is likely when the mean suitable share reaches min_share (the maps agree), possible when only some map's share does (they disagree), beyond reach when less than min_share lies within 500 km of a record, and unlikely otherwise. A taxon with no such map has model \"no map\". An unknown name returns an empty list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "The regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonRegions"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "description": "This server holds no region table yet: neither a pull nor a release that carries one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/checklist.csv": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "getChecklistCsv",
        "summary": "Taxa by state or province, as a spreadsheet",
        "description": "A CSV of every taxon in every state, province or territory where it has validated records or where its maps say it is likely or possible: country, state_province, region_code (ISO 3166-2), scientific_name, status (recorded; likely, not yet recorded; or possible, not yet recorded), validated_records, independent_localities, model (likely, possible, unlikely, beyond reach or no map), suitable_area_pct (the maps' mean), best_map_suitable_pct (the best single map), within_reach_pct and atlas_page. UTF-8 with a byte-order mark, so Excel opens it with accents intact; Excel's Data > From Web and Google Sheets' IMPORTDATA can also read the URL directly and refresh it. With no parameters it holds everything.",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "One region, by ISO 3166-2 code (US-IN, CA-BC, MX-VER) or name (Indiana); or one country, by code (US, CA, MX). Omit for all.",
            "schema": {
              "type": "string"
            },
            "example": "US-IN"
          },
          {
            "name": "taxon",
            "in": "query",
            "required": false,
            "description": "One taxon, by exact scientific name. Omit for all.",
            "schema": {
              "type": "string"
            },
            "example": "Trametes versicolor"
          }
        ],
        "responses": {
          "200": {
            "description": "The checklist, as an attachment named for what is in it.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "404": {
            "description": "The region names nothing in the records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "This server holds no region table yet: neither a pull nor a release that carries one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/taxa/{name}/model": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "getTaxonModel",
        "summary": "One taxon's fitted model",
        "description": "Scores on every spatial fold, the predictors used, the settings and the map's bounds.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/grid"
          },
          {
            "$ref": "#/components/parameters/algorithm"
          }
        ],
        "responses": {
          "200": {
            "description": "The model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadAlgorithm"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}/map.png": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "getTaxonMap",
        "summary": "A taxon's habitat map as an image",
        "description": "A PNG in web-map coordinates, ready to lay over a slippy map at the bounds the model route gives. Colours are ranks among the cells inside the model's area of applicability, darkest green highest; ground in the accessible area that no training site resembles is hatched grey, and beyond the accessible area the image is transparent. Add any v= query value to bust a cache.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/grid"
          },
          {
            "$ref": "#/components/parameters/algorithm"
          }
        ],
        "responses": {
          "200": {
            "description": "The map.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              },
              "Link": {
                "description": "The map's licence: <https://creativecommons.org/licenses/by-sa/4.0/>; rel=\"license\".",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Unknown algorithm. The body is empty."
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "404": {
            "description": "No map for this taxon and model. The body is empty."
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}/ensemble": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "getTaxonEnsemble",
        "summary": "A taxon's ensemble of its passing models",
        "description": "Each model that passed its null test is ranked over the ground inside its own area of applicability, and the ranks are averaged, weighted by blocked AUC above 0.5. Lists the members and their weights, how much of the ground some member knows, and how much the members disagree. Absent when fewer than two models passed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/grid"
          }
        ],
        "responses": {
          "200": {
            "description": "The ensemble.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ensemble"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}/ensemble.png": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "getTaxonEnsembleMap",
        "summary": "A taxon's ensemble map, or where its members disagree, as an image",
        "description": "A PNG in web-map coordinates at the bounds the ensemble route gives. layer=map is the ensemble, coloured by rank, darkest green highest; ground no member knows is hatched grey. layer=disagreement runs from clear, where the members agree, to brown, where they rank a place at opposite ends.",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/grid"
          },
          {
            "name": "layer",
            "in": "query",
            "required": false,
            "description": "map (default) or disagreement.",
            "schema": {
              "type": "string",
              "enum": [
                "map",
                "disagreement"
              ],
              "default": "map"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              },
              "Link": {
                "description": "The map's licence: <https://creativecommons.org/licenses/by-sa/4.0/>; rel=\"license\".",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Unknown layer. The body is empty."
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "404": {
            "description": "No ensemble for this taxon. The body is empty."
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/taxa/{name}/raster.tif": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "getTaxonRaster",
        "summary": "A taxon's habitat raster as a GeoTIFF (sign in or token)",
        "description": "The raw suitability values the map is drawn from, on the model's grid, for GIS work. Needs a signed-in session or an active token; anonymous callers get 401 with a link to sign in. On the public server the answer is a 302 to a download link that works for five minutes; follow redirects (curl -L). Saved as <taxon>-<algorithm>.tif.",
        "security": [
          {
            "atlasToken": []
          },
          {
            "atlasSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/grid"
          },
          {
            "$ref": "#/components/parameters/algorithm"
          }
        ],
        "responses": {
          "200": {
            "description": "The GeoTIFF, when this server holds it itself.",
            "content": {
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              },
              "Link": {
                "description": "The raster's licence: <https://creativecommons.org/licenses/by-sa/4.0/>; rel=\"license\".",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "Go to Location for the file: a presigned link that works for five minutes.",
            "headers": {
              "Location": {
                "description": "The download link.",
                "schema": {
                  "type": "string"
                }
              },
              "Link": {
                "description": "The raster's licence: <https://creativecommons.org/licenses/by-sa/4.0/>; rel=\"license\".",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadAlgorithm"
          },
          "401": {
            "$ref": "#/components/responses/SignInRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "description": "The release store could not be reached, or a link could not be made. Try again shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "listModels",
        "summary": "Every fitted model",
        "description": "One light row per taxon and model, newest first. Fetch a single model for its folds and settings.",
        "parameters": [
          {
            "$ref": "#/components/parameters/grid"
          }
        ],
        "responses": {
          "200": {
            "description": "The models on that grid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/algorithms": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "listAlgorithms",
        "summary": "The models Atlas fits",
        "description": "Each algorithm's id, as used in the algorithm parameter, mapped to the label people see.",
        "responses": {
          "200": {
            "description": "Algorithm ids and labels.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "example": {
                  "maxnet": "Maxent",
                  "xgboost": "Boosted trees",
                  "rf": "Random forest"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/benchmarks/latest": {
      "get": {
        "tags": [
          "Data"
        ],
        "operationId": "getLatestBenchmark",
        "summary": "The newest model benchmark",
        "description": "Every model scored on the same spatial folds for the same taxa, with paired differences from Maxent by band of presence cells.",
        "parameters": [
          {
            "$ref": "#/components/parameters/grid"
          }
        ],
        "responses": {
          "200": {
            "description": "The benchmark.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Benchmark"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Atlas-Tier": {
                "$ref": "#/components/headers/X-Atlas-Tier"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "name": {
        "name": "name",
        "in": "path",
        "required": true,
        "description": "Scientific name exactly as Atlas lists it, percent-encoded. Provisional names keep their quotes, e.g. Mycena sp. 'IN10'.",
        "schema": {
          "type": "string"
        },
        "example": "Trametes versicolor"
      },
      "grid": {
        "name": "grid",
        "in": "query",
        "description": "draft is 5 km; production is 1 km.",
        "schema": {
          "type": "string",
          "enum": [
            "draft",
            "production"
          ],
          "default": "draft"
        }
      },
      "algorithm": {
        "name": "algorithm",
        "in": "query",
        "description": "Which model: maxnet (Maxent), xgboost (boosted trees) or rf (down-sampled random forest).",
        "schema": {
          "type": "string",
          "enum": [
            "maxnet",
            "xgboost",
            "rf",
            "esm"
          ],
          "default": "maxnet"
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Nothing under that name.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadAlgorithm": {
        "description": "The algorithm is not one Atlas fits.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Over the rate limit. Wait Retry-After seconds, or sign in or use a token for a higher limit.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "retry_after": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "InvalidToken": {
        "description": "The Bearer token is not valid: unknown, pending approval, disabled, revoked, for another service, or its account is inactive.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "unknown",
                    "pending",
                    "disabled",
                    "revoked",
                    "account_inactive",
                    "wrong_service"
                  ]
                }
              }
            }
          }
        }
      },
      "SignInRequired": {
        "description": "Not signed in and no active token, or the token is not valid. Sign in at signIn, or send Authorization: Bearer <token>.",
        "headers": {
          "WWW-Authenticate": {
            "description": "Bearer",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "signIn": {
                  "type": "string",
                  "description": "Where a browser goes to sign in: /auth/dev-bridge/start."
                },
                "reason": {
                  "type": "string",
                  "description": "Why a token was refused, when one was sent."
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "What went wrong, in words."
          }
        }
      },
      "Status": {
        "type": "object",
        "required": [
          "ready"
        ],
        "properties": {
          "ready": {
            "type": "boolean",
            "description": "False until a pull or release is present."
          },
          "pulledAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this machine last read records from mycomap.org. Nightly pulls run before fitting, so this can be newer than the maps; release.dataPulledAt is the pull the maps were built from."
          },
          "records": {
            "type": "integer",
            "description": "Validated records in the pull."
          },
          "taxa": {
            "type": "integer",
            "description": "Distinct taxa in the pull."
          },
          "fingerprint": {
            "type": "string",
            "description": "Hash of the whole record set."
          },
          "since": {
            "type": "string",
            "description": "For an incremental pull, the date it started from. Absent for a full pull."
          },
          "release": {
            "type": "object",
            "description": "The release the maps come from: cite its id. Absent until a release has been pulled.",
            "properties": {
              "id": {
                "type": "string",
                "description": "Release id, e.g. 20261004T041800Z-3b7439f8. Cite this."
              },
              "grid": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "commit": {
                "type": "string",
                "description": "The Atlas code commit the release was built from."
              },
              "dataPulledAt": {
                "type": "string",
                "format": "date-time",
                "description": "When the records the release was fitted on were read."
              },
              "records": {
                "type": "integer"
              },
              "taxa": {
                "type": "integer"
              },
              "fingerprint": {
                "type": "string",
                "description": "Hash of the record set the release was fitted on."
              }
            }
          }
        }
      },
      "Layer": {
        "type": "object",
        "required": [
          "id",
          "title",
          "source",
          "license",
          "citation",
          "built"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "description": "Where the raw data comes from."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The provider's download page. Absent for layers derived on the grid."
          },
          "license": {
            "type": "string"
          },
          "citation": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "built": {
            "type": "boolean",
            "description": "Whether the layer exists on this grid."
          },
          "bands": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Predictor names the layer provides."
          },
          "cellSizeM": {
            "type": "number",
            "description": "Cell size in metres."
          },
          "sizeMb": {
            "type": "number"
          },
          "builtAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LayersResponse": {
        "type": "object",
        "required": [
          "grid",
          "layers"
        ],
        "properties": {
          "grid": {
            "type": "string"
          },
          "layers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Layer"
            }
          }
        }
      },
      "Taxon": {
        "type": "object",
        "required": [
          "scientific_name",
          "records",
          "localities",
          "fingerprint"
        ],
        "properties": {
          "scientific_name": {
            "type": "string"
          },
          "records": {
            "type": "integer",
            "description": "Validated records under this name."
          },
          "localities": {
            "type": "integer",
            "description": "Distinct places about 1 km apart. A better guide than records to what a model can learn."
          },
          "fingerprint": {
            "type": "string",
            "description": "Hash of this taxon's record set. A model is refitted when it changes."
          },
          "not_yet_validated": {
            "type": "integer",
            "description": "On GET /api/taxa/{name} only: sequenced records under this name that no validation project has given a verdict yet. The maps do not use them. Absent while no counts have been taken; 0 when there are none. Not part of the fingerprint."
          }
        }
      },
      "TaxaPage": {
        "type": "object",
        "required": [
          "total",
          "items"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Taxa that matched, across all pages."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Taxon"
            }
          }
        }
      },
      "Cell": {
        "type": "object",
        "required": [
          "lat",
          "lng",
          "records"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "description": "Latitude of the cell's centre."
          },
          "lng": {
            "type": "number",
            "description": "Longitude of the cell's centre."
          },
          "records": {
            "type": "integer"
          }
        }
      },
      "Cells": {
        "type": "object",
        "required": [
          "name",
          "degrees",
          "cells"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "degrees": {
            "type": "number",
            "description": "Cell size in degrees."
          },
          "cells": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cell"
            }
          }
        }
      },
      "Region": {
        "type": "object",
        "required": [
          "country",
          "region",
          "code",
          "taxa",
          "records",
          "likely",
          "possible"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "United States, Canada or Mexico. Puerto Rico and the US Virgin Islands are listed under the United States."
          },
          "region": {
            "type": "string",
            "description": "State, province or territory."
          },
          "code": {
            "type": "string",
            "description": "ISO 3166-2 code, such as US-IN; empty when the record's state field names no known region."
          },
          "taxa": {
            "type": "integer",
            "description": "Taxa with validated records here."
          },
          "records": {
            "type": "integer"
          },
          "likely": {
            "type": "integer",
            "description": "More taxa its maps call likely here, without a record yet."
          },
          "possible": {
            "type": "integer",
            "description": "More taxa only some of its maps rate suitable here, without a record yet."
          }
        }
      },
      "Regions": {
        "type": "object",
        "required": [
          "regions"
        ],
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          }
        }
      },
      "TaxonRegion": {
        "type": "object",
        "required": [
          "country",
          "region",
          "code",
          "records",
          "localities",
          "model",
          "suitable_share",
          "reach_share",
          "best_share"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "United States, Canada or Mexico. Puerto Rico and the US Virgin Islands are listed under the United States."
          },
          "region": {
            "type": "string",
            "description": "State, province or territory."
          },
          "code": {
            "type": "string",
            "description": "ISO 3166-2 code, such as US-IN; empty when the record's state field names no known region."
          },
          "records": {
            "type": "integer"
          },
          "localities": {
            "type": "integer",
            "description": "Independent localities: distinct ~1 km cells."
          },
          "model": {
            "type": "string",
            "enum": [
              "likely",
              "possible",
              "unlikely",
              "beyond reach",
              "no map"
            ],
            "description": "What the taxon's maps that beat their null models say about this state: likely when they agree, possible when only some of them rate it suitable."
          },
          "suitable_share": {
            "type": [
              "number",
              "null"
            ],
            "description": "Share of the state the maps rate at least as highly as the poorer tenth of the places the taxon was found, averaged over the maps. Null with no map."
          },
          "reach_share": {
            "type": [
              "number",
              "null"
            ],
            "description": "Share of the state within the maps' reach, 500 km of a record. Null with no map."
          },
          "best_share": {
            "type": [
              "number",
              "null"
            ],
            "description": "The most any one of those maps rates suitable. Null with no map."
          }
        }
      },
      "TaxonRegions": {
        "type": "object",
        "required": [
          "name",
          "mapped",
          "min_share",
          "regions"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "mapped": {
            "type": "boolean",
            "description": "Whether the taxon has a map that beat its null models and has been counted by state."
          },
          "min_share": {
            "type": "number",
            "description": "The suitable share at which a state is called likely."
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonRegion"
            }
          }
        }
      },
      "ModelFold": {
        "type": "object",
        "properties": {
          "fold": {
            "type": "integer"
          },
          "presences": {
            "type": "integer",
            "description": "Presence cells held out in this fold."
          },
          "auc": {
            "type": [
              "number",
              "null"
            ],
            "description": "Null when the fold held too few presences to score."
          },
          "boyce": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "ModelBounds": {
        "type": "object",
        "properties": {
          "south": {
            "type": "number"
          },
          "west": {
            "type": "number"
          },
          "north": {
            "type": "number"
          },
          "east": {
            "type": "number"
          }
        }
      },
      "Model": {
        "type": "object",
        "required": [
          "taxon",
          "grid",
          "presences",
          "background",
          "predictors",
          "folds",
          "auc_mean",
          "boyce_mean",
          "built_at"
        ],
        "properties": {
          "taxon": {
            "type": "string"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "maxnet",
              "xgboost",
              "rf",
              "esm"
            ],
            "description": "Absent on the oldest Maxent models, which are Maxent."
          },
          "algorithm_label": {
            "type": "string"
          },
          "grid": {
            "type": "string"
          },
          "presences": {
            "type": "integer",
            "description": "Detection sites: survey sites (records gathered at a 5 km spacing) where the taxon was collected."
          },
          "background": {
            "type": "integer",
            "description": "Background cells drawn from other validated collections."
          },
          "area_km2": {
            "type": "number",
            "description": "The accessible area: the taxon's cells buffered by 500 km."
          },
          "predictors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "predictors_considered": {
            "type": "integer"
          },
          "classes": {
            "type": "string",
            "description": "Maxent feature classes, e.g. lqh."
          },
          "nrounds": {
            "type": "integer",
            "description": "Boosted trees: the tree count early stopping chose."
          },
          "block_km": {
            "type": "number",
            "description": "Width of the square blocks used for spatial cross-validation."
          },
          "folds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelFold"
            }
          },
          "auc_mean": {
            "type": "number",
            "description": "Mean blocked AUC. 0.5 is chance."
          },
          "auc_sd": {
            "type": "number"
          },
          "boyce": {
            "type": "number",
            "description": "Blocked Boyce index of every fold's held-out scores together, from -1 to 1. The one a map is judged by. Absent on fits from before it was computed; use boyce_mean there."
          },
          "boyce_mean": {
            "type": "number",
            "description": "Mean over folds of the blocked Boyce index, from -1 to 1. Noisy for taxa with few sites."
          },
          "boyce_sd": {
            "type": "number"
          },
          "built_at": {
            "type": "string",
            "format": "date-time"
          },
          "map": {
            "type": "string",
            "description": "Present when a map was drawn."
          },
          "bounds": {
            "$ref": "#/components/schemas/ModelBounds"
          },
          "map_scale": {
            "type": "string",
            "description": "How the PNG's colours are scaled: ranks among the cells inside the area of applicability, on the equal-area grid. Older maps say \"rank\": percentiles over every cell of the image."
          },
          "map_drawn_at": {
            "type": "string",
            "format": "date-time"
          },
          "cells_without_data": {
            "type": "integer",
            "description": "Cells in the accessible area with a missing predictor, left out of fitting and prediction."
          },
          "correlation": {
            "type": [
              "number",
              "null"
            ],
            "description": "Correlation above which predictors were pruned; null when the model uses all of them."
          },
          "regmult": {
            "type": "number",
            "description": "Maxent regularisation multiplier."
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, derived from the record-set fingerprint."
          },
          "fingerprint": {
            "type": "string",
            "description": "Hash of the record set the model was fitted on."
          },
          "settings": {
            "type": "object",
            "description": "Every setting that decides the fit apart from the records, including the layer builds."
          },
          "settings_key": {
            "type": "string",
            "description": "Hash of settings. With fingerprint, it decides whether the model is current."
          },
          "raster": {
            "type": "string",
            "description": "File name of the raw suitability GeoTIFF in a release."
          },
          "md5": {
            "type": "string",
            "description": "MD5 of that GeoTIFF."
          },
          "r_version": {
            "type": "string"
          },
          "terra_version": {
            "type": "string"
          },
          "maxnet_version": {
            "type": "string"
          },
          "package": {
            "type": "string",
            "description": "The R package that fitted the model."
          },
          "package_version": {
            "type": "string"
          },
          "skill": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "untested"
            ],
            "description": "Whether the taxon beat null models (random draws of surveyed sites, busier sites more often; taxon and nulls both fitted at untuned settings) on blocked AUC at p <= 0.05 and the map has a positive blocked Boyce index (boyce). Only passed maps are used by the Explore index; treat failed and untested maps as saying nothing about habitat."
          },
          "null": {
            "type": "object",
            "description": "Null-model comparison. The taxon (observed_auc, observed_boyce) and its nulls (auc_mean, auc_sd, boyce_mean) are fitted the same way, at the untuned settings named in settings; auc_p and boyce_p are the share of nulls scoring at least as well.",
            "properties": {
              "reps": {
                "type": "integer"
              },
              "settings": {
                "type": "string"
              },
              "observed_auc": {
                "type": "number"
              },
              "observed_boyce": {
                "type": "number"
              },
              "auc_mean": {
                "type": "number"
              },
              "auc_sd": {
                "type": "number"
              },
              "auc_p": {
                "type": "number"
              },
              "boyce_mean": {
                "type": "number"
              },
              "boyce_p": {
                "type": "number"
              }
            }
          },
          "params": {
            "type": "object",
            "description": "Settings chosen by tuning in spatial folds (Maxent: classes, regmult; boosted trees: max_depth, nrounds; random forest: mtry)."
          },
          "block_source": {
            "type": "string",
            "description": "blockCV when set from the autocorrelation range of detections, fixed when given, fallback when blockCV could not decide."
          },
          "presence_blocks": {
            "type": "integer",
            "description": "Blocks holding at least one detection site."
          },
          "importance": {
            "type": "array",
            "description": "What the map rests on, measured on the held-out folds: for each layer the model drew from, the fall in blocked AUC when all of its predictors are shuffled among held-out sites (fall, with its sd between folds), and the same for each of its predictors (predictors). Sorted, largest first. A layer a model did not use is absent. Absent on fits from before it was measured.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "fall": {
                  "type": "number"
                },
                "sd": {
                  "type": "number"
                },
                "predictors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      },
                      "fall": {
                        "type": "number"
                      },
                      "sd": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "layers_unused": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Datasets the taxon's predictors came from that this model kept none of (Maxent prunes correlated predictors and caps their number)."
          },
          "uses_effort": {
            "type": "boolean",
            "description": "Whether the model was given collecting effort as a predictor. Maxent is not; the trees are."
          },
          "effort_at": {
            "type": "number",
            "description": "The effort, log(records at the site, the taxon's own counted once), the map and scores are drawn at."
          },
          "map_strength": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How strongly the map is drawn: 0 when it failed its null test; from 0.4 to 1 as its blocked AUC rises from just passing to five null standard deviations above its nulls. 0.5 when untested."
          },
          "applicability": {
            "type": "object",
            "description": "The map's area of applicability (Meyer & Pebesma 2021): threshold on the dissimilarity index, and the share of the accessible area inside it.",
            "properties": {
              "method": {
                "type": "string"
              },
              "threshold": {
                "type": "number"
              },
              "inside_share": {
                "type": "number"
              },
              "weights": {
                "type": "string",
                "enum": [
                  "importance",
                  "equal",
                  "given"
                ]
              },
              "predictors": {
                "type": "integer"
              },
              "sites": {
                "type": "integer"
              },
              "training_index_median": {
                "type": "number"
              },
              "training_index_95": {
                "type": "number"
              }
            }
          },
          "dissimilarity": {
            "type": "string",
            "description": "File name of the dissimilarity layer, published beside the raster."
          },
          "record_years": {
            "type": "object",
            "description": "The years the taxon's records were collected over: first, median and last year, how many records have a date, and the share collected before the climate period the layers describe (1991).",
            "properties": {
              "records": {
                "type": "integer"
              },
              "dated": {
                "type": "integer"
              },
              "first": {
                "type": "integer"
              },
              "median": {
                "type": "integer"
              },
              "last": {
                "type": "integer"
              },
              "before_climate_period": {
                "type": "number"
              },
              "climate_period_start": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ModelSummary": {
        "type": "object",
        "properties": {
          "taxon": {
            "type": "string"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "maxnet",
              "xgboost",
              "rf",
              "esm"
            ]
          },
          "presences": {
            "type": "integer"
          },
          "predictors": {
            "type": "integer",
            "description": "How many predictors the model used."
          },
          "auc_mean": {
            "type": "number"
          },
          "boyce": {
            "type": "number",
            "description": "Blocked Boyce index over every fold together; the fold mean on older fits."
          },
          "boyce_mean": {
            "type": "number"
          },
          "map": {
            "type": "boolean"
          },
          "built_at": {
            "type": "string",
            "format": "date-time"
          },
          "skill": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "untested"
            ],
            "description": "Whether the taxon beat null models (random draws of surveyed sites, busier sites more often; taxon and nulls both fitted at untuned settings) on blocked AUC at p <= 0.05 and the map has a positive blocked Boyce index (boyce). Only passed maps are used by the Explore index; treat failed and untested maps as saying nothing about habitat."
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "required": [
          "grid",
          "models"
        ],
        "properties": {
          "grid": {
            "type": "string"
          },
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelSummary"
            }
          }
        }
      },
      "Sources": {
        "type": "object",
        "required": [
          "datasets",
          "software",
          "references",
          "products"
        ],
        "properties": {
          "datasets": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "url",
                "license",
                "role"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "provider": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "license": {
                  "type": "string"
                },
                "license_url": {
                  "type": "string",
                  "format": "uri"
                },
                "role": {
                  "type": "string"
                },
                "citation": {
                  "type": "string"
                },
                "doi": {
                  "type": "string"
                }
              }
            }
          },
          "software": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "group",
                "license",
                "url",
                "role"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "group": {
                  "type": "string",
                  "enum": [
                    "platform",
                    "r",
                    "web"
                  ]
                },
                "version": {
                  "type": "string"
                },
                "license": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "role": {
                  "type": "string"
                },
                "citation": {
                  "type": "string"
                },
                "doi": {
                  "type": "string"
                }
              }
            }
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "citation",
                "used_for"
              ],
              "properties": {
                "citation": {
                  "type": "string"
                },
                "doi": {
                  "type": "string"
                },
                "used_for": {
                  "type": "string"
                }
              }
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "stage",
                "name",
                "detail",
                "availability"
              ],
              "properties": {
                "stage": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "availability": {
                  "type": "string",
                  "enum": [
                    "published",
                    "in releases",
                    "planned",
                    "at source",
                    "withheld"
                  ]
                },
                "where": {
                  "type": "string"
                },
                "why": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Benchmark": {
        "type": "object",
        "description": "Settings, a summary by band of presence cells, and each taxon's scores under every model.",
        "properties": {
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "baseline": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          },
          "summary": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "taxa": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Me": {
        "type": "object",
        "required": [
          "signedIn",
          "signInAvailable"
        ],
        "properties": {
          "signedIn": {
            "type": "boolean",
            "description": "True with a signed-in session or an active token."
          },
          "name": {
            "type": "string",
            "description": "Your public display name on mycomap.org, when signed in on the site."
          },
          "via": {
            "type": "string",
            "enum": [
              "session",
              "token"
            ],
            "description": "How you are known."
          },
          "tier": {
            "type": "string",
            "enum": [
              "standard",
              "bulk"
            ],
            "description": "The rate limit you get."
          },
          "signInAvailable": {
            "type": "boolean",
            "description": "Whether this server can sign people in."
          }
        }
      },
      "ArchiveFile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "sha256": {
            "type": "string"
          }
        }
      },
      "ArchiveVersion": {
        "type": "object",
        "required": [
          "version",
          "state"
        ],
        "properties": {
          "version": {
            "type": "string",
            "description": "The Atlas release id for models, or <grid>-<date>-<layer key> for layers."
          },
          "state": {
            "type": "string",
            "enum": [
              "draft",
              "published"
            ],
            "description": "Only published versions have a DOI and can be downloaded."
          },
          "doi": {
            "type": "string",
            "description": "This version's DOI, fixed to exactly these files."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The record on Zenodo."
          },
          "release": {
            "type": "string",
            "description": "Models only: the Atlas release archived."
          },
          "layers_version": {
            "type": "string",
            "description": "Models only: the layers version these models were fitted on."
          },
          "key": {
            "type": "string",
            "description": "Hash of the content; an unchanged release is never archived twice."
          },
          "bytes": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArchiveFile"
            }
          }
        }
      },
      "ArchiveSeries": {
        "type": "object",
        "required": [
          "series",
          "versions"
        ],
        "properties": {
          "series": {
            "type": "string",
            "description": "models-<grid> or layers-<grid>; a -sandbox suffix marks test archives."
          },
          "concept_doi": {
            "type": "string",
            "description": "Resolves to the newest version, whichever it is."
          },
          "concept_recid": {
            "type": [
              "string",
              "integer"
            ]
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArchiveVersion"
            }
          }
        }
      },
      "Downloads": {
        "type": "object",
        "required": [
          "series"
        ],
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArchiveSeries"
            }
          }
        }
      },
      "SearchSpecies": {
        "type": "object",
        "required": [
          "scientific_name",
          "records",
          "localities",
          "models",
          "match"
        ],
        "properties": {
          "scientific_name": {
            "type": "string"
          },
          "records": {
            "type": "integer"
          },
          "localities": {
            "type": "integer"
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "maxnet",
                "xgboost",
                "rf",
                "esm"
              ]
            },
            "description": "Models with a map for this taxon; empty when it has none yet."
          },
          "match": {
            "type": "string",
            "enum": [
              "exact",
              "prefix",
              "words",
              "contains",
              "similar"
            ],
            "description": "How the name matched. similar means a near miss: worth a \"did you mean\"."
          }
        }
      },
      "SearchGenus": {
        "type": "object",
        "properties": {
          "genus": {
            "type": "string"
          },
          "taxa": {
            "type": "integer"
          },
          "mapped": {
            "type": "integer",
            "description": "Taxa in the genus with a map."
          },
          "records": {
            "type": "integer"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "required": [
          "query",
          "species",
          "genera"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "species": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchSpecies"
            }
          },
          "genera": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchGenus"
            }
          }
        }
      },
      "HereTaxon": {
        "type": "object",
        "required": [
          "scientific_name",
          "score",
          "models",
          "fitted",
          "agree",
          "nearby_records"
        ],
        "properties": {
          "scientific_name": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "Mean of the taxon's models' percentile ranks here, 0 to 1; a model not rating it in its top half counts as 0."
          },
          "models": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Rank here by each model that puts this place in its top half, e.g. {\"rf\": 0.97}."
          },
          "fitted": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "maxnet",
                "xgboost",
                "rf",
                "esm"
              ]
            },
            "description": "Every model with a map for this taxon."
          },
          "agree": {
            "type": "integer",
            "description": "How many models rank this place in their top tenth."
          },
          "nearby_records": {
            "type": "integer",
            "description": "Validated records within nearby_km, from 0.1 degree cells."
          },
          "localities": {
            "type": "integer"
          }
        }
      },
      "HereAnswer": {
        "type": "object",
        "required": [
          "point",
          "cell_km",
          "in_grid",
          "taxa",
          "recorded_unmapped",
          "total"
        ],
        "properties": {
          "point": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lng": {
                "type": "number"
              }
            }
          },
          "cell_km": {
            "type": "number",
            "description": "Size of the index cell the answer is for."
          },
          "in_grid": {
            "type": "boolean",
            "description": "False outside the area Atlas models."
          },
          "nearby_km": {
            "type": "number"
          },
          "total": {
            "type": "integer",
            "description": "Taxa that scored at least min_score, before limit."
          },
          "taxa": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HereTaxon"
            }
          },
          "recorded_unmapped": {
            "type": "array",
            "description": "Taxa collected within nearby_km that have no map yet: survey targets.",
            "items": {
              "type": "object",
              "properties": {
                "scientific_name": {
                  "type": "string"
                },
                "nearby_records": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Ensemble": {
        "type": "object",
        "properties": {
          "taxon": {
            "type": "string"
          },
          "grid": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "algorithm": {
                  "type": "string"
                },
                "weight": {
                  "type": "number"
                },
                "auc_mean": {
                  "type": "number"
                },
                "map_strength": {
                  "type": "number"
                },
                "md5": {
                  "type": "string"
                }
              }
            }
          },
          "map_strength": {
            "type": "number"
          },
          "known_share": {
            "type": "number",
            "description": "Share of the ground with a value that at least one member's area of applicability holds."
          },
          "disagreement_mean": {
            "type": "number",
            "description": "Mean weighted standard deviation of the members' ranks, 0 to 0.5."
          },
          "disagreement_high_share": {
            "type": "number",
            "description": "Share of cells where that spread is above 0.25."
          },
          "map": {
            "type": "string"
          },
          "disagreement_map": {
            "type": "string"
          },
          "raster": {
            "type": "string"
          },
          "bounds": {
            "$ref": "#/components/schemas/ModelBounds"
          },
          "map_scale": {
            "type": "string"
          },
          "built_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "atlasToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Optional for reading. A token from https://mycomap.org/atlas-tokens, sent as Authorization: Bearer <token>, raises your rate limit and lets you download rasters."
      },
      "atlasSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-atlas_session",
        "description": "Set in a browser by signing in with a mycomap.org account at /auth/dev-bridge/start."
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Requests per minute allowed for this caller.",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests left before the limit.",
        "schema": {
          "type": "integer"
        }
      },
      "X-Atlas-Tier": {
        "description": "anonymous, standard or bulk.",
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "x-rate-limits": {
    "unit": "requests per minute",
    "anonymous": 300,
    "standard": 1200,
    "bulk": 6000
  },
  "security": [
    {},
    {
      "atlasToken": []
    },
    {
      "atlasSession": []
    }
  ]
}
